.col {
  flex-basis: 0;
}
.field-container{
    overflow: hidden;
    background-color: #c0c0c0;
    border-top: #f4f4f4 2px solid;
    border-left: #f4f4f4 2px solid;
    border-bottom: #808080 2px solid;
    border-right: #808080 2px solid;
    height: calc(100vh - 11rem);
  border-radius: 0.5rem;

}